<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/user/FoodCoAutomationTest"><classes><class name="login.LoginTests"><methods><include name="testVerifyLogin"/></methods></class><class name="setup.setUpTests"><methods><include name="testSetUp"/></methods></class></classes></test></suite>